body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

h2 {
  text-align: center;
}

/*********
IDs
*********/

#all-candies-view {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#candy-item {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 3%;
}

#all-candy-img {
  max-width: 200px;
  max-height: 200px;
}
