body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

h2 {
  text-align: center;
}

/*********
IDs
*********/

#checkout-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#checkout-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border: 2px solid #d8d8d8;
  margin: 2%;
  padding: 2%;
}

#quantity-slider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#total-checkout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

  margin: 5%;
}

#all-candies-view {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#candy-item {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 3%;
}

#all-candy-img {
  max-width: 200px;
  max-height: 200px;
}

/*********
Classes
*********/
/*********
Rohan-my CSS needs alot of work
*********/
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.single-candy-container {
  display: flex;
  justify-content: space-evenly;
}

.single-candy-img {
  height: 450px;
  width: 500px;
}

.candy-description {
  width: 500px;
}

.add-cart-button {
  background-color: #e9d522;
  color: black;
  border: none;
  padding: 7px 17px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.single-candy-name {
  align-self: center;
}

.admin-candy-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 1500px;
  align-content: space-around;
}

.admin-candy {
  height: 70px;
}

.admin-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.admin-add-candy-btn {
  height: 30px;
  position: relative;
  top: 25px;
  left: 30px;
}

.admin-remove-btn {
  border: none;
  padding: 7px 17px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: rgb(225, 155, 131);
}

.admin-edit-btn {
  border: none;
  padding: 7px 17px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: rgb(131, 225, 145);
}

.add-form-container {
  height: 620px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;
  gap: 10px;
  border: double;
}

.admin-user-list {
  border: solid;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 1500px;
  /* align-content: space-around; */
  /* height: 600px; */
}

.admin-user-div {
  display: flex;
  margin: 20px;
}

.admin-users-btn {
  height: 30px;
  position: relative;
  top: 25px;
  right: 30px;
}

textarea {
  display: flex;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: none;
}
