body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: gray;
  opacity: 80%;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

h2 {
  text-align: center;
}

/*********
IDs
*********/

#checkout-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#checkout-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border: 2px solid #d8d8d8;
  margin: 2%;
  padding: 2%;
}

#order-item {
  border: 2px solid #d8d8d8;
  margin: 2%;
  padding: 2%;
}

#quantity-slider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#total-checkout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

  margin: 5%;
}

#order-total-checkout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

  margin-right: 3.65%;
}

#all-candies-view {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#candy-item {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 3%;
}

#all-candy-img {
  max-width: 200px;
  max-height: 200px;
}

/*********
Classes
*********/
.active {
  color: black;
  font-weight: bolder;
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.single-candy-container {
  display: flex;
  justify-content: space-evenly;
}

.single-candy-img {
  height: 450px;
  width: 500px;
}

.single-candy-name {
  align-self: center;
}

.candy-description {
  width: 500px;
}

.add-cart-button {
  background-color: #e9d522;
  color: black;
  border: none;
  padding: 7px 17px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.admin-single-candy-card {
  border: double;
}

.admin-candy-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 1700px;
}

.admin-user-list {
  border: double;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 1700px;
}

.admin-user-div {
  border: double;
  height: 50px;
}

.admin-header {
  border: double;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.btn {
  border: none;
  padding: 7px 17px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.admin-add-candy-btn {
  height: 30px;
  position: relative;
  top: 20px;
  left: 30px;
  background-color: #e9d522;
}

.admin-users-btn {
  border: none;
  height: 30px;
  position: relative;
  top: 20px;
  left: 15px;
  background-color: #e9d522;
}

.admin-remove-btn {
  background-color: rgb(225, 155, 131);
  font-size: 10px;
}

.admin-edit-btn {
  background-color: rgb(131, 225, 145);
  font-size: 10px;
}

.form-container {
  display: flex;
  justify-content: center;
}

.form-header {
  display: flex;
  justify-content: center;
  width: 365px;
  align-self: center;
  font-size: 32px;
  margin-bottom: 30px;
}

.form {
  border: solid;
  height: 620px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 10px;
  border: double;
  justify-self: center;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.add-to-cart-btn {
  background: #3cb0fd;
  color: white;
  border: 3px solid #3cb0fd;
  padding: 2%;
  font-size: 15px;
  font-weight: bold;
  border-radius: 28px;
}

.add-to-cart-btn:hover {
  background: white;
  color: #3498db;
  border: 2px solid #3498db;
}

textarea {
  display: flex;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: none;
}

.are-you-guest {
  position: relative;
  width: 375px;
  text-align: center;
  left: 15px;
  font-weight: bold;
  background-color: rgb(202, 15, 15);
  color: white;
}
